.transactionHistory {
  width: 400px;
  text-align: center;
}

.thead {
  background: rgb(30, 125, 152);
  height: 40px;
  color: white;
}

.grid {
  height: 50px;
  cursor: pointer;
}

.grid:nth-child(odd) {
  background: rgb(237 237 237);
}

.grid:hover {
  /* background: rgb(200, 200, 200); */
  background: rgb(237 237 237);
}
